@font-face{
  font-family: "Product Sans";
  src: url("Ps.ttf");
}

* {
  font-family: 'Product Sans', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.topbar {
  height: 50px;
  padding: 0 20px 0 15px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  align-items: center;
  box-shadow: 2px 2px 4px #ccc;
  position: fixed;
  width: 100%;
  background: #363C47;
  border-bottom: 1px solid #ccc;
  top: 0;
}

.view-box {
  padding: 15px;
  margin-top: 50px;
  min-height: 100vh;
}

.logo {
  height: 35px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.card {
  border-radius: 10px;
  padding: 10px;
  color: #7A7A7A;
  background: #fff;
  border: 1px solid #C2C2C2;
  margin-bottom: 10px;
}
#fab{
  background: #1CA2FF;
  position: fixed;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  display: grid;
  place-items: center;
  height: 50px;
  width: 50px;
}

#memo{
  position: fixed;
  padding: 20px;
  background: #D8D8D8;
  border-radius: 10px;
  width: clamp(300px, 80%, 600px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 110;
  transition: 0.3s; 
}
.card-header{
  margin-bottom: 10px;
  margin-top: 10px;
  color: #4A4A4A;
}
svg{
  pointer-events: none;
}


textarea,
input[type="text"]{
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  outline: none;
  margin: 5px 0;
}
.no-scroll{
  overflow: hidden;
}

#inp{
  height: 200px;
}
.heading-box>div{
  display: flex;
  justify-content: space-between;
}
h1{
  font-size: 20px;
}

button{
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  height: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}
.primary{
  background: #0075ff;
  color: #ffffff;
}

.blk{
  width: 100%;
  margin-top: 10px;
}


.overlay{
  content: "";
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 0.3s; 
}