* {
  font-family: 'Product Sans', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.topbar {
  height: 50px;
  padding: 0 20px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 4px #ccc;
  position: fixed;
  width: 100%;
  background: #F6F6F6;
  border-bottom: 1px solid #ccc;
  top: 0;
}

.view-box {
  padding: 20px;
  margin-top: 50px;
  min-height: 100vh;
}

.logo {
  height: 40px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.card {
  border-radius: 10px;
  padding: 10px;
  color: #7A7A7A;
  background: #fff;
  border: 1px solid #C2C2C2;
  margin-bottom: 10px;
}
#fab{
  background: #1CA2FF;
  position: fixed;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  display: grid;
  place-items: center;
  height: 50px;
  width: 50px;
}